.content {
  .info-introduction {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #f1f3f5;
      transform: translateY(15px);
    }
  }
}